* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Muller'; 
	font-style: normal; 
	font-weight: 700; 
	src: url('../fonts/MullerBold.woff2') format('woff2'),
    	url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
	font-family: Muller; 
	font-style: normal; 
	font-weight: 500; 
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
    	url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
	font-family: Muller; 
	font-style: normal; 
	font-weight: 400; 
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
    	url('../fonts/MullerRegular.woff') format('woff');
}

body {
	background: #E5E5E5;
}

html {
	font-family: 'Muller', sans-serif;
}

img {
	max-width: 100%; 
}

.container {
	max-width: 1200px; 
	margin-left: auto; 
	margin-right: auto; 
	padding-right: 15px; 
	padding-left: 15px; 
}

ul {
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

a {
	text-decoration: none; 
}

.section:not(:last-child) {
	margin-bottom: 70px;
}

.section-title {
	margin-top: 0; 
	margin-left: 40px; 
	font-weight: 400; 
	font-size: 40px; 
	line-height: 1; 
	color: #333333; 
}
.btn {
	padding: 13px 20px; 
	border: 1px solid #CC9933; 
	border-radius: 10px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 1;  
	color: #CC9933; 
	background: transparent; 
}

/* Header*/

.header {
	margin-bottom: 70px; 
}

.header-top {
	display: flex; 
	align-items: center; 
	height: 114px; 
}

.header-phone {
	margin-right: auto; 
	margin-left: 34px; 
	font-weight: 500; 
	font-size: 20px; 
	line-height: 1;  
	color: #666666;
}

.header-account-img {
	display: inline-block; 
	margin-right: 7px; 
	width: 21px; 
	height: 12px; 
	background: url("../img/Vector.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.header-account {
	font-weight: 400; 
	font-size: 16px; 
	line-height: 1; 
	color: #CC9933; 
}

.header-nav {
	background-color: #FFFFFF; 
	border-radius: 15px; 
}

.header-nav-list {
	align-items: center; 
	display: flex; 
	justify-content: space-evenly; 
	height: 70px; 
}

.header-item {
	font-weight: 400; 
	font-size: 16px; 
	line-height: 1; 
	color: #666666; 
}

.header-item-img {
	display: inline-block; 
	width: 1px; 
	height: 50px; 
	background: url("../img/Rectangle2.svg") center center no-repeat transparent; 
	background-size: contain; 
	color:  #E1E1E1; 
}

/*Offer*/ 

.section-offer-title {
	margin-bottom: 20px; 
}

.section-offer-list {
	display: flex; 
}

.section-offer-list-left {
	display: flex; 
	flex-direction: column; 
}

.section-offer-item {
	width: 573px; 
	min-height: 258px; 
}

.section-offer-item:not(:nth-child(3n)) {
	margin-right: 23px; 
}

.section-offer-item:nth-last-child(n+2) {
	margin-bottom: 23px; 
}
.section-offer-title-mini {
	margin-bottom: 0; 
	margin-top: 40px; 
	margin-left: 40px; 
	width: 299px; 
	font-weight: 700; 
	font-size: 40px; 
	line-height: 40px;  
	color: #FFFFFF; 
}

.section-offer-p {
	margin-bottom: 47px; 
	margin-top: 15px; 
	margin-left: 40px; 
	font-weight: 400; 
	font-size: 20px; 
	line-height: 1; 
	color: #FFFFFF; 
	opacity: 0.8; 
}

.section-offer-title-big {
	margin-bottom: 0; 
	margin-top: 211px; 
	margin-left: 40px; 
	width: 299px; 
	font-weight: 700; 
	font-size: 60px; 
	line-height: 60px;  
	color: #FFFFFF; 
}

.section-offer-p-big {
	margin-bottom: 47px; 
	margin-top: 15px; 
	margin-left: 40px; 
	font-weight: 400; 
	font-size: 30px; 
	line-height: 1; 
	color: #FFFFFF; 
	opacity: 0.8; 
}

.section-arrow {
	margin-left: 40px; 
	margin-bottom: 41px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 1; 
	color: #FFCC66; 
}

.section-arrow-img {
	transform: translateY(2px); 
	display: inline-block; 
	margin-left: 1px;  
	width: 11px; 
	height: 11px; 
	background: url("../img/strelka.svg") center center no-repeat transparent; 
	background-size: contain; 
	color: #FFCC66; 
}

.section-offer-item-maldives {
	background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/Rectangle14.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	border-radius: 15px; 
}

.section-offer-item-number { 
	background-image: url("../img/331.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	border-radius: 15px; 
}

.section-offer-item-crete { 
	background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/Rectangle14(1).jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	border-radius: 15px; 
}

/*About us*/

.section-us-title {
margin-bottom: 11px; 
}

.section-us-text {
	max-width: 888px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 32px; 
}

/*Servise*/

.section-service-title {
	margin-bottom: 20px; 
}

.section-service-list {
	display: flex; 
	flex-wrap: wrap; 
}

.section-service-item {
	width: 572px;
	min-height: 330px; 
	background-color: #FFFFFF; 
	border-radius: 15px; 
}

.section-service-item:not(:nth-child(2n)) {
	margin-right: 23px; 
}

.section-service-item:nth-last-child(n+3) {
	margin-bottom: 23px; 
}

.section-arrow {
	margin-left: 45px; 
	color: #CC9933; 
}

.section-sefvice-arrow-img {
	background-image: url("../img/strelka-temnaya.png"); 
	color: #CC9933; 
}

.section-service-img {
	margin-bottom: 26px; 
	border-radius: 15px 15px 0px 0px; 
}

.section-service-text {
	margin-left: 45px; 
	margin-bottom: 50px; 
	width: 402px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 32px; 
}

/*Benefit*/

.section-benefit-title {
	margin-bottom: 30px; 
}

.section-benefit-list {
	display: flex; 
	flex-wrap: wrap; 
}

.section-benefit-item {
	width: 275px;
	min-height: 275px; 
	background-color: #FFFFFF; 
	border-radius: 15px; 
}

.section-benefit-item:not(:nth-child(4n)) {
	margin-right: 23px; 
}

.section-benefit-item:nth-last-child(n+5) {
	margin-bottom: 23px; 
}

.section-benefit-text {
	margin-left: 45px; 
	margin-right: 45px; 
	margin-bottom: 41px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 32px; 
}

.section-benefit-img-1 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/bathtub.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-2 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/hanger.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-3 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/heating.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-4 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/hotel-key.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-5 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/parking.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-6 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/reception.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-7 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/security-box.svg") center center no-repeat transparent; 
	background-size: contain; 
}

.section-benefit-img-8 {
	display: inline-block; 
	margin-left: 45px;  
	margin-top: 40px;
	width: 66px; 
	height: 66px; 
	background: url("../img/swimming-pool.svg") center center no-repeat transparent; 
	background-size: contain; 
}

/*Placement*/

.section-placement-title {
	margin-bottom: 30px; 
}

.section-placement-list {
	display: flex; 
	flex-wrap: wrap; 
}

.section-placement-item {
	width: 374px;
	min-height: 440px; 
	background-color: #FFFFFF; 
	border-radius: 15px; 
}

.section-placement-item:not(:nth-child(3n)) {
	margin-right: 23px; 
}

.section-placement-item:nth-last-child(n+4) {
	margin-bottom: 23px; 
}

.section-placement-img {
	border-radius: 15px 15px 0px 0px; 
}

.section-placement-price {
	margin-top: 36px; 
	margin-left: 45px; 
}

.section-placement-text {
	margin-top: 16px; 
	margin-left: 45px; 
	margin-right: 45px; 
	font-weight: 400; 
	font-size: 16px; 
	line-height: 1;  
}

.section-placement-text-gray {
	color: #999999; 
}

.section-placement-stars {
	margin-left: 46px; 
}

.btn-plasement {
	margin-top: 20px; 
	margin-left: 45px; 
	margin-bottom: 41px; 
}

.section-placement-item-img {
	width: 373px; 
	background-image: url("../img/41.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	border-radius: 15px; 
}

.section-placement-arrow-white {
	margin-left: 54px; 
	margin-right: 53px; 
	font-weight: 500; 
	font-size: 20px; 
	line-height: 40px;  
	color: #FFFFFF; 
}

.section-placement-arrow-white-d {
	margin-bottom: 27px;
	margin-top: 373px; 
}

.section-arrow-img-white {
	display: inline-block; 
	margin-left: 1px;  
	width: 11px; 
	height: 11px; 
	background: url("../img/Rectangle2 (1).svg") center center no-repeat transparent; 
	background-size: contain; 
}


